
/CarManufecturingCompany/nbproject/private/
/CarManufecturingCompany/build/
/CarManufecturingCompany/dist/


/CarManufecturingCompany/nbproject/private/
/CarManufecturingCompany/build/
/CarManufecturingCompany/dist/

CarManufecturingCompany/build/built-jar.properties
